{{template "htmlstart"}}
	<title>New Event - OrgReminder</title>
	<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
	<script>
			tinymce.init({
	        	inline:true,
	        	selector:'div.html',
			});

			function addreminder() {
				var rcon = document.getElementById("rcon");

				var label = document.createElement("label");
				label.innerHTML = "Reminder";
				rcon.appendChild(label);

				var numselect = document.createElement("select");
                numselect.name = "remqty[]";
                for (i = 0; i < 24; i++) { 
				    var numopt = document.createElement("option")
				    numopt.value = numopt.text = i;
				    numselect.appendChild(numopt);
				} 
                rcon.appendChild(numselect);

                var types = {"m": "Minute(s)","h": "Hour(s)","d": "Day(s)","w": "Week(s)"};
                var typeselect = document.createElement("select");
                typeselect.name = "remtyp[]";
                for (t in types) { 
				    var typopt = document.createElement("option")
				    typopt.value = t;
				    typopt.text = types[t];
				    typeselect.appendChild(typopt);
				} 
                rcon.appendChild(typeselect);

                // Append a line break 
                rcon.appendChild(document.createElement("br"));
			}
	</script>
	{{template "css"}}
</head>
<body>
{{template "nav2" .}}
<div class="bodycontainer">
	<form action="/saveevent" method="POST" style="border: 1px black;">
			<div class="title">New Event</div>
			<label for="title">Title</label>
			<input type="text" id="title" name="title">
		<br>
			<label for="emailmessage">Email Message</label>
			<div id="emailmessage" name="emailmessage" class="html"></div>
		<br>
			<label for="textmessage">Text Message</label>
			<textarea id="textmessage" name="textmessage" cols="50" rows="4" wrap="hard"></textarea>
		<br>
			<label for="due">Due</label>
			<input type="text" name="due" id="due" value="10/02/2014 7:00pm">
		<br>
		<br>
			<label for="sendemail" class="cblabel">Send Email</label>
			<input type="checkbox" name="sendemail" id="sendmail" checked>
		<br>
			<label for="sendtext" class="cblabel">Send Text</label>
			<input type="checkbox" name="sendtext" id="sendtext"><br>
		<br>
			<div id="rcon" >
				<label>Reminder</label>
				<select name="remqty[]">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>
				<select name="remtyp[]">
					<option value="m">Minute(s)</option>
					<option value="h">Hour(s)</option>
					<option value="d">Day(s)</option>
					<option value="w">Week(s)</option>
				</select>
				<br>
			</div> 
			&nbsp; &nbsp; <input type="button" value="Add Reminder" onclick="addreminder();">
		<br>
			<label for="orgs">Organization(s)</label>
			<select multiple name="orgs" id="orgs">
			{{range .Orgs}}
				<option value="{{.}}">{{.}}</option>
			{{end}}
			</select>
		<br>
		<input type="submit" value="Save">
	</form>
</div>
{{template "footer" .}}
</body>
</html>
